/* html,
body {
  font-family: ff-good-headline-web-pro-con, sans-serif;
} */

.halloween__quiz {
  max-width: 800px;
  margin: 0 auto;
}

.halloween__quiz__wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 0.8rem;
}
